body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
}
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 9rem;
 
}

.todo-container {
  display: flex;
  flex-direction: column;
  justify-content:first baseline;
  align-items: center;
  outline:solid blue 3px;
  height: 28rem;
  
  
}
.todos{
  outline:solid black 5px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  
  height: 26rem;
  width:25rem;
  padding: 0;



  
}
.eachTodo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: 600;
  outline: solid black 1px;
  height: 3rem;
  width: 20rem;
  column-gap: 3rem;
}
.input-box {
  width: 20rem;
  height: 30px;
  font-size: large;
  font-weight: 600;
  margin: auto;
}
.clear{
  display: flex;
  justify-content: center;
}
.clear button{
  width:7rem;
  height:2rem;
  background-color:orange;
}


.myapp-text {
  color: #fff;
  margin-left: 2rem;
  font-size: xx-large;
  font-weight: 600;
  padding:0 1rem 0.5rem 1rem;  
}

.remain-container {
  
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:1rem;
  
}
.remain-text {
  font-size: x-large;
  font-weight: 600;
  border: solid black 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: 17rem;
  
  background: #eecda3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ef629f, #eecda3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ef629f, #eecda3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

input {
  box-shadow: 2px 3px 10px 3px;
}

button {
  width: 30px;
  height: 30px;
  box-shadow: 2px 3px 2px 3px;
  font-size: x-large;
  font-weight: 700;
  border-color: black;
}

.checkbutton {
  background-color: green;
}

.closebutton {
  background-color: red;
}

.toggle-button {
  color: white;
  font-size: 1rem;
  font-weight: 300;
  border-radius: 8%;
  display: flex;
  justify-content: center;
  width: 4.5rem;
  box-shadow: none;
  background-color: blue;
  border: none;
  align-items: center;
  border: solid black 3px;
  margin-right: 2rem;
}

.toggle-button:hover {
  background-color: darkturquoise;
}

.navbar-container {
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline;
  margin-right: 2rem;

  width: 4rem;
  height: 2rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4e4949;
}

input:focus + .slider {
  box-shadow: 0 0 1px white;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.backgroundWhite {
  background-color: white;
  color: black;
  height: 100vh;
}
.backgroundBlack {
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
  height: 100vh;
}
